body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
align-self: center;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
